@import "../../../variables";
@import "../../../colors";
@import "../../../animation";

.p-img-popup {
  display: none;
  animation: fadeInFromNone 0.3s ease-in-out;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
  font-size: 12.5px;
  color: $dark-gray;
  cursor: default;
  position: absolute;
  width: 350px;
  bottom: 30px;
  right: -33px;
  z-index: 200;

  &.visible {
    display: block;
  }

  &.fadingOut {
    -moz-animation-name: fadeOut;
    animation-name: fadeOut;
  }

  ::-webkit-scrollbar {
    width: 6px;
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb {
    background: $vk-light-gray3;
    border-radius: 6px;
  }

  .primary-container {
    border: 1px solid $vk-blue;
    background-color: $white;
    box-shadow: $vk-blue 1px 1px 3px 0;
    border-radius: 3px 3px 0 0;
  }

  .popup-header {
    position: relative;
    background-color: $vk-blue;
    color: $white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    .header-title {
      font-size: 14px;
    }
  }

  .triangle-down-wrapper {
    position: relative;

    .triangle-down,
    .triangle-down-border {
      width: 0;
      height: 0;
      vertical-align: top;
      display: inline-block;
      position: absolute;
    }

    .triangle-down {
      right: 39px;
      top: -1px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid $white;
      z-index: 1;
    }
    .triangle-down-border {
      right: 38px;
      top: -1px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid $vk-blue;
    }
  }
}