@import "../../variables";

.popup-toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;

  svg
  {
    fill: currentColor;
  }

  .arrow {
    cursor: pointer;
    width: 14px;
    height: 14px;
  }
}