@import "../../../../colors";

.images-container {
  $margin: 5px;
  margin: $margin 0 $margin 10px;
  overflow: auto;
  white-space: normal;
  height: 190px - $margin * 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .image-wrapper {
    display: inline-block;
    cursor: pointer;
    position: relative;

    img {
      max-width: 100px;
      width: 100px;
    }

    &:hover{
      .delete-container{
        display: flex;
      }
    }

    $delete-container-width: 14px;
    .delete-container {
      display: none;
      position: absolute;
      align-content: center;
      justify-content: center;
      right: 0;
      top: 0;
      height: $delete-container-width;
      width: $delete-container-width;
      background-color: $vk-gray;
      opacity: .5;
      color: $vk-light-gray2;

      &:hover{
        opacity: 1;
      }
    }
  }
}