@import "../../../../colors";

.images-container {
  $margin: 5px;
  margin: $margin;
  overflow: auto;
  white-space: normal;
  height: 190px - $margin * 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .image-wrapper {
    display: inline-block;
    cursor: pointer;
    position: relative;

    img {
      max-width: 100px;
      width: 100px;
    }

    &:hover {
      .delete-container {
        opacity: 1;
      }
    }

    $delete-container-width: 16px;
    .delete-container {
      opacity: 0;
      transition: opacity 100ms linear;
      position: absolute;
      right: 0;
      top: 0;
      height: $delete-container-width;
      width: $delete-container-width;
      background: $vk-gray3;
      border-radius: 2px;
      cursor: pointer;
      outline: none;
      text-align: center;

      .delete-icon {
        font-size: 13px;
        transition: opacity 200ms linear;
        color: $white;
        opacity: 0.85;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}